#calculator {
    width: 256px;
    display: flex;
    flex-direction: column;
    margin: auto;
    border-radius: 10px;
    border: 6px solid black;
}

#display {
    text-align: right;
    font-size:xx-large;
    background-color: rgb(202, 198, 198);
}

#change {
    display: flex;
    justify-content: space-evenly;
}

#change button {
    flex-grow: 1;
    width: 25%;
}

#change #clear {
    background-color: red;
}

#change #delete {
    background-color:blueviolet;
}

#numbers-operators {
    display: flex;
}

#numbers {
    width: 75%;
    display: flex;
    flex-wrap: wrap;
}

#numbers .equal {
    width: calc(2*(100%/3));
}

.number {
    width: calc(100%/3);
}

#operators {    
    width: 25%;
    display: flex;
    flex-direction: column;
}

#operators button {
    background-color: aqua;
}

button {
    height: 40px;
    font-size: large;
}